{% extends "layout.html" %}
{% block title %}Lifting Lounge{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block content %}
<style>
    .nav-button-flare{
        border: 5mm;
        border-radius: 100px;
        border-color: white;
        height: 40px;
        width: 120px;
        background-color: azure;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px;
        
    }
    
</style> 
    <div class = center style = 'color: aliceblue;'>
        <h4>Forums</h4>
    </div>
    {% for messages in message %}
        <div class="col s12 m4">
            <div class="card black accent-3">
                <div class="card-content white-text">
                    <span class="card-title">{{messages.username}}</span>
                    <p>Message: {{messages.message}}</p>
                    {% if current_user.username == messages.username %}
                    <div class="align-right">
                        <form id="delete_message" method = "POST" action= "/delete_message/{{messages.message_id}}">
                            <input type="Submit" class="btn btn-secondary" value="Delete" style = "text-align: right; border-radius: 12px;">
                        </form>
                    </div>
                    {%endif%}
                </div>  
            </div>
            
        </div>
    {%endfor%}
    {% if current_user.is_authenticated %}
        <form id="message_form" method="POST" action="/add_forum" >
            <input placeholder="Add Message" id="message" name="message" type="text" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
            <input type="submit" class="btn btn-secondary" value="Post" style = "border-radius: 12px;">
        </form>
    {% else %}
        <h6 style = "text-align:center;color: aliceblue;">Please login or signup to post to the forum.</h6>
    {%endif%}
{% endblock %}
