{% extends "layout.html" %}
{% block title %}Lifting Lounge{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block content %}
    <div class = center style = 'color: aliceblue;'>
        <h4>Forums</h4>
    </div>
    {% for message in messages %}
        <div class="col s12 m4">
            <div class="card black accent-3">
                <div class="card-content white-text">
                    <span class="card-title">{{message.username}}</span>
                    <p>Message: {{message.message}}</p>
                </div>  
            </div>
        </div>
    {%endfor%}
{% endblock %}