{% extends "layout.html" %}
{% block title %}Lifting Lounge{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block link%}
{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
    {% for exercise in exercises %}
        <div class="col s12 m4">
            <div class="card black accent-3">
                <div class="card-content white-text">
                    <span class="card-title">{{exercise.name}}</span>
                    <p>Type: {{exercise.type}}</p>
                    <p>Muscle: {{exercise.muscle}}</p>
                    <p>Eqipment: {{exercise.equipment}}</p>
                    <p>Difficulty: {{exercise.difficulty}}</p>
                    <p>Instructions: <a href="https://www.youtube.com/watch?v=poa_QBvtIBA">HEHEHE</a> </p>
                </div>  
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
