{% extends "layout.html" %}
{% block title %}Lifting Lounge{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block link%}
{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <p>{{word}}</p>
        <form id="searchMuscle" methods="POST" action="/exercises">
            <input placeholder="Search for a muscle group" id="muscle" name="muscle" type="text" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
            <input type="submit" class="btn btn-secondary" value="Submit" style = "border-radius: 12px;">
        </form>
      
        <!-- <form action = "/forum">
            <input type="submit" class="btn btn-secondary" value="Forums" style = "border-radius: 12px;">
        </form> -->
    {% for exercise in exercises %}
        <div class="col s12 m4">       
            <div class="card black accent-3">
                <div class="card-content white-text">
                    <span class="card-title">{{exercise.name}}</span>
                    <p>Type: {{exercise.type}}</p>
                    <p>Muscle: {{exercise.muscle}}</p>
                    <p>Eqipment: {{exercise.equipment}}</p>
                    <p>Difficulty: {{exercise.difficulty}}</p>
                    <p>Instructions: {{exercise.instructions}}</a> </p>
                </div>  
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
