{% extends "layout.html" %}
{% block title %}Lifting Lounge{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block content %}
    <!-- put code here -->

<style>
    .nav-button-flare {
        border: 5mm;
        border-radius: 100px;
        border-color: white;
        height: 40px;
        width: 170px;
        background-color:  #F2E9E4;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin: 10px;
        color: black;
    }

    .navi-bar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #4a4e69;
        padding-top: 60px;
        overflow-x: auto;

    }
</style>
    <!-- add /progress to end of the website link to test -->
{% endblock %}
