{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block page %}<img src = '/static/logo.png' width="290" height="40"/>{% endblock %}

{% block content %}

<div class="content fill-space">
  <div class="subcontent center-vertical">
    

    <form id="signupForm" method="POST" action="/signup" style="border-radius: 25px; border: 2px solid #34eb80; padding: 155px;">
      <div class="row">
        <h4 class="center" style ="color:#f5f7f7"> Sign Up</h4>
        <div class="input-field col s12">
          <input placeholder="Email Address : example@mail.com" name="email" type="email" class="validate" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
          <!-- <label for="email">Email Address</label> --> 
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Username" id="username" name="username" type="text" class="validate" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
        <!-- <div class="input-field col s12">
          <input placeholder="Username" name="username" type="username" class="validate" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
          <label for="username">username</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Password" name="password" type="password" class="validate" style= "color:#f5f7f7; border-radius: 35px; height: 25px; border: 2px solid #f5f7f7; padding: 9px;">
          <!-- <label for="password">Password</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Payment Type" name="payment" type="payment" class="validate" style= "color:#000000; border-radius: 35px; height: 45px; border: 2px solid #f5f7f7; padding: 9px;">
          <!-- <label for="payment">Payment Type</label> -->
        </div>
      </div>

      <div class="row justify-content">
        <div class="col s8 card-action left-align" style="margin-left:0;">
          <a href="/login" style = "color: aquamarine;" >&larr;  Back to Login</a>
        </div>
        <div class="col s3 card-action right-align">
          <input type="submit" class="btn btn-secondary" style = "border-radius: 12px" value="Sign up">
        </div>
      </div>
  
    </form>
  </div>
</div>
{% endblock %}
